// Variables
$green-color: #00c022;
$text-color: #4a5568;
$bg-color: #f7fafc;

// Estilos base
.text-container {
  text-align: center;

  .title {
    color: $green-color;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .description {
    color: $text-color;
    margin-bottom: 2rem;
  }
}

.image-container {
  width: 83%;
  max-width: 100%;
  img {
    width: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
  }
}

// Layout base
.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: $bg-color;

  .content {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 10px;
  }
}

// Responsive Design

// Tablets y dispositivos más grandes
@media (min-width: 768px) {
  .text-container {
    text-align: left;
    // padding: 0 30px;
  }

  .title {
    text-align: center;
    font-size: 2.5rem;
  }
  .description{
    padding: 0 20px;
    font-size: 1.125rem;
  }

  .section-wrapper {
    flex-direction: row;
    padding: 20px 0;
    margin: 0 20px;
  }
  .sw2{
    flex-direction: row-reverse;
  }

  .content {
    width: 50%;
    margin-bottom: 0;

    .image-container {
        width: 60%;
        img {
          object-fit: cover;
          object-position: center;
          border-radius: 0.5rem;
        }
      }
  }
}

// Dispositivos pequeños
@media (max-width: 767px) {
  .section-wrapper {
    flex-direction: column;
    .image-container{
        display: flex;
        justify-content: center;
    }
  }

  .title{
    margin-top: 20px;
  }
}


//seguna caja de contenido

